@model BusinessObjects.Product
@{
    ViewData["Title"] = "Delete product";
}

<h1>Delete Product</h1>

@using (Html.BeginForm("Delete", "Product", FormMethod.Post))
{
    <div class="form-group mb-3">
    <label class="mb-2" for="product-id">Product Id</label>
    <input type="text" class="form-control" id="product-id" placeholder="Enter name of product" asp-for="ProductId" readonly>
  </div>

  <div class="form-group mb-3">
    <label class="mb-2" for="product-name">Product Name</label>
    <input type="text" class="form-control" id="product-name" placeholder="Enter name of product" asp-for="ProductName" readonly>
  </div>

  <div class="form-group mb-3">
    <label class="mb-2" for="unit-in-stock">Unit In Stock</label>
    <input type="text" class="form-control" id="unit-in-stock" placeholder="Enter unit in stock" asp-for="UnitInStock" readonly>
  </div>

  <div class="form-group mb-3">
    <label class="mb-2" for="unit-price">Unit Price</label>
    <input type="text" class="form-control" id="unit-price" placeholder="Enter unit price" asp-for="UnitPrice" readonly>
  </div>

  <div class="form-group mb-3">
    <label class="mb-2 d-block" for="category">Category</label>
    <input type="text" class="form-control" id="product-name" placeholder="Enter name of product" asp-for="Category.CategoryName" readonly>
  </div>
  
  <button type="submit" class="d-block btn btn-danger" style="text-align: center; margin: 0 auto; width: 120px;">Delete</button>
}